<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quotes</title>
  </head>
  <body>
    {% if messages %}
    <ul class='messages'>
      {% for message in messages %}
      <li {% if message.tags %} class='{{message.tags}}' {%endif%}>{{message}}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    <h1>Register</h1>
    <form action='{% url 'quotes:register' %}' method='POST'>
      {% csrf_token %}
      <label>Name</label><br>
      <input type='text' name='name'/><br>
      <label>Alias</label><br>
      <input type='text' name='alias'/><br>
      <label>Email</label><br>
      <input type='text' name='email'/><br>
      <label>Password</label><br>
      <input type='password' name='password'/><br>
      <label>Confirm Password</label><br>
      <input type='password' name='confirmpass'/><br>
      <label>Date of Birth</label><br>
      <input type='text' name='dob' placeholder="mm/dd/yyyy"/><br>
      <input type='submit' value='Register!'/><br>
    </form>
    <h1>Login</h1>
    <form action='{% url 'quotes:authenticate' %}' method='POST'><br>
      {% csrf_token %}
      <label>Email</label><br>
      <input type='text' name='logemail'/><br>
      <label>Password</label><br>
      <input type='password' name='logpass'/><br>
      <input type='submit' value='Login!'/><br>
    </form>
  </body>
</html>
